body {
  min-height: 100vh;
  position: relative;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.marked {
  background-color: green;
}

#MatchTable {
  overflow: auto;
}