@media (width <=1250px) {
  .tableHead {
    width: 1%;
  }
  .scoreHeader {
    width: 18%;
  }
  .fullElement {
    display: none;
  }
}

@media (width > 1250px) {
  .condensedElement {
    display: none;
  }
}